.container {

   margin: 9em 0 3em 0;


}

table {

  border-collapse:collapse;
  margin-bottom:15px;
  
}

table tr {
	padding-right: 6px;
	padding-top: 3px;
	border-bottom:1px solid #E0E0E0;
}

.post-main {
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
}

.post-meta {
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0 0 1em 0;
    overflow: auto;
    padding: 0;
}

.post-meta li, .post-meta a {
    color: #999;
}

.post-meta li {
    display: inline;
    float: left;
    overflow: auto;
    padding-left: 0.5em;
}

.post-meta li:first-child {
    padding-left: 0;
}

.post-meta i {
    padding-right: 0.4em;
}

.post-meta a:hover {
    text-decoration: underline;
}

.post-title-link, .post-title-link a{

font-size: 18px;
margin: 0.25em 0 .5em 0 !important;
}


.author-info {
    font-size: 0.9em;
    float: right;
    text-align: right;
    width: 165px;

}


 .nav {
        margin: 0 auto 1em auto;
    }

 .nav a {
        padding: 0.5em;
    }
	
.nav a:link, .nav a:visited {
    text-decoration: none;
	color: #555;
}

.nav a:hover, .nav a:active {
    text-decoration: none;
	color: #bc7564;
}
	
	
.home-nav ul {
    font-size: 1.2em;
    list-style-type: none;
    margin-top: 1em;
    padding: 0;
}

.home-nav ul li {
    margin-bottom: 0.5em;
}

.home-nav a {
    color: #333;
    text-decoration: none;
}

.this-year {
border-radius: 10px;
background-color: #FFFFCC;
padding: 8px 0px 8px 18px;
list-style: none;

}

.past-year {

padding: 8px 0px 8px 18px;
list-style: none;

}

