---
layout: page
permalink: /blog/archive/
---

<section id="archive">
  <h3>今年博文</h3>
  {%for post in site.posts %}
    {% unless post.next %}
      <ul class="this-year">
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        </ul>
        <h3>{{ post.date | date: '%Y' }}</h3>
        <ul class="past-year">
      {% endif %}
    {% endunless %}
      <li><span style="width:100px; text-align:left; color:#C4C4C4;display:block; float:left; ">{{ post.date | date:"%-m. %-d" }}</span><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</section>