---
layout: default
title: Leo's blog
permalink: /blog/
---

<div class="home">

  
    {% for post in site.posts limit:10 %}
<div class="post-main">
  
        <h1 class="post-title-link">   <a  href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> </h1>
          <div class=post-content>
                {{ post.excerpt }}
            </div>
  
	  
   {% include post-meta.html %}
</div>	  
    {% endfor %}
	
<div class="more-blog">
查看 云叔 的<a href="/blog/archive">全部博文</a>
</div>


   

</div>
