---
layout: default
title: Leo's blog
permalink: /blog/
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}

   <li>
        <span class="post-meta" width=120px>{{ post.date | date: "%Y-%m-%d" }}  &nbsp;&nbsp;</span>



                 <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

      </li>
    {% endfor %}


  </ul>
  
  <!-- 分页链接 -->
{% include pagination.html %}

<br/>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
