---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}

   <li>
        <span class="post-meta" width=120px>{{ post.date | date: "%Y-%m-%d" }}  &nbsp;&nbsp;</span>



                 <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

      </li>
    {% endfor %}


  </ul>
  
  <!-- 分页链接 -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous"></span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next "></span>
  {% endif %}
</div>

<br/>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
