

<div class="author-info">

    <p><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></p>

    <div class=nav>
        <a href="{{ site.flickr_url }}"><i class="fa fa-flickr fa-lg"></i></a>
        <a href="{{ site.twitter_url }}"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="{{ site.linkedin_url }}"><i class="fa fa-linkedin fa-lg"></i></a>
        <a href="{{ site.feed_url }}"><i class="fa fa-rss fa-lg"></i></a>
    </div>

	 <div class=home-nav>
        <ul>
   
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
		<li><a href="/blog/archive">归档</a></li>
		<li><a href="/blog/resume">简历</a></li>
     
	 </ul>

	 </div>


</div>


