

<div class="author-info">

    <p><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></p>

    <div class=nav>
        <a href="{{ site.github_url }}"><i class="fa fa-github fa-lg"></i></a>
        <a href="{{ site.twitter_url }}"><i class="fa fa-twitter-square fa-lg"></i></a>
        <a href="{{ site.linkedin_url }}"><i class="fa fa-linkedin-square fa-lg"></i></a>
        <a href="{{ site.feed_url }}"><i class="fa fa-rss-square fa-lg"></i></a>
    </div>

	 <div class=home-nav>
        <ul>
   
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
     
	 </ul>

	 </div>


</div>


